
body{
	font-family: 'Raleway', sans-serif;
	background: url(img/bg.png) no-repeat top center;
	background-size: 100%; /* Современные браузеры */
}

ul, li{
	display: block;
	margin: 0;
	padding: 0;
}

header{
	padding: 10px;
	background-color: #2d2420;
	color: #fff;
}

.menu{
	
}

.menu_item{
	padding: 10px;
	font-size: 26px;
	font-weight: 100;
	color: #ad7835;
}

.menu_itema{
	font-size: 43px;
}


.frame{
	margin-top: 240px;
	border: 8px solid #ad7835;
	padding: 50px;
	width: 50%;
}

.hr0{
	border: none;
	background-color: #fff;
	height: 2px;
	width: 130px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h1{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 60px;
	color: #fff;
}

h2{
	font-family: 'Roboto Slab', sans-serif;
	font-size: 40px;
	color: #ad7835;
}

h6{
	color: #fff;
}

p{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-left: 20px;
}


.undertext{
	color: #ad7835;
	margin-top: 15px;
}

.about{
	padding-top:50px;
	margin-bottom: 100px;
}

.hr1{
	border: none;
	background-color: #ad7835;
	height: 2px;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 25px;
	margin-left: 0px;
}

.row_about{
	color: #373737;
}

.a1{
	padding-top: 50px;
}

.main{
	margin-bottom: 250px;
}

.gallery{
	padding-top:10px;
	margin-bottom: 50px;
}

.contact{
	padding-top: 10px;
	padding-bottom: 80px;
}

.form{
	padding-top: 50px;
	text-align: center;
}

.form_input{
	background-color: #2d2420;
	border: none;
	padding: 10px;
	color: #fff;
	margin-left: 10px;
	width: 20%;
	outline: none;
}


.btn-cust{
	background-color: #ad7835;
	border: none;
	padding: 10px;
	font-weight: 700;
	margin-left: 10px;
	cursor: pointer;
}

.footer{
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: black;
	margin: 0, auto;
	text-align: center;
	font-size: 50px;
}


.btn-cust2{
	background-color: #ad7835;
	border: none;
	padding: 10px;
	font-weight: 700;
	cursor: pointer;
}

@media screen and (max-width: 1318px) {

	h1{
		font-size: 40px;
	}
}

@media screen and (max-width: 991px) {

	.frame{
		width: 65%;
		margin-top: 220px;
	}

	h6{
		font-size: 13px;
	}
	.menu_item{
	padding: 10px;
	font-size: 20px;
	font-weight: 100;
	color: #ad7835;
	}

	.menu_itema{
	font-size: 30px;
	}

	.about{
		padding-top: 0px;
	}
	.main{
		margin-bottom: 135px;
	}
}

@media screen and (max-width: 767px) {

	.footer{
		font-size: 30px;
	}
	.frame{
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media screen and (max-width: 547px) {

	.menu_item{
	font-size: 14px;
	}
	.main{
		margin-bottom: 170px;
	}
	.frame{
		margin-top: 195px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.a1{
	padding-top: 20px;
	}
	.aboutimg{
		width: 350px;
		height: 466px;
	}
	p{
		padding-left: 10px;
		margin-left: 0px;
	}

	.form{
		padding-top: 20px;
	}
	.form_input{
		width: 100%;
		margin-left: 0px;
	}
	.btn-cust{
		margin-top: 10px;
		width: 100%
		margin-left: 0px;
	}
	.contact{
		padding-bottom: 50px;
	}
}