@media screen and (min-width:480px) and (max-width:960px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops
  */
    header{
	height: 48px;
	background: #5181b8;
}
    .header_page {
    width: 480px;
    height: 48px;
    margin: 0px auto;
    top: 0;
}
    .notifications{
        display: none;
    }
    .music{
        display: none;
    }
    .top_profile{
        display: none;
    }
    .search{
        background: #3b6493;
        width: 200px;
        float: right;
        margin: 10px 0px 0px 0px;
    }
    .logo{
        margin: 10px 0px 0px 0px;
    }
    .page_layout {
        width: 480px;
        margin: 0px auto;
    }
    .slide_bar {
        width: 150px;
        margin: 48px 0px 0px 0px;
    }
    .narrow_column {
        width: 330px;
        margin-top: 48px;
    }
    .avatar {
        background: #fff;
        width: 75px;
        height: 75px;
        margin: 15px 8px 0 0;
        border-radius: 50%;
    }
    .friends {
        display: none;
    }
    .friends_online{
        display: none;
    }
    .publics {
        display: none;
    }
    .videos {
        display: none;
    }
    .photos{
        display: none;
    }
    .audios{
        display: none;
    }
    .wide_column{
        width: 330px;
        margin: 0px;
    }
    .page_info {
        height: 170px;
    }
    .counts_module{
        display: none;
    }
    .profiles_photos {
        height: 75px;
        margin: 15px 0px 0px 0px;
        padding: 2px 0px 2px 0px;
    }
    .profils_photo1 {
        background: #2a5572;
        float: left;
        width: 75px;
        height: 75px;
        margin: 0px 0px 0px 6px;
    }
        .profils_photo {
        background: #2a5572;
        float: left;
        width: 75px;
        height: 75px;
        margin: 0px 0px 0px 6px;
        border-radius: 14px;
    }
}
@media screen and (max-width:479px) {
  /* Target portrait smartphones */
    
    header{
	height: 48px;
	background: #5181b8;
}
    .header_page {
    width: 100%;
    height: 48px;
    margin: 0px auto;
    top: 0;
}
    .notifications{
        display: none;
    }
    .music{
        display: none;
    }
    .top_profile{
        display: none;
    }
    .search{
        display: none;
    }
    .logo{
        margin: 10px 0px 0px 15px;
    }
    .page_layout {
        width: 100%;
        margin: 0px auto;
    }
    .slide_bar {
        display: none;
    }
    .narrow_column {
        width: 100%;
        margin-top: 48px;
    }
    .avatar {
        background: #fff;
        width: 75px;
        height: 75px;
        margin: 15px 8px 0px 15px;
        border-radius: 50%;
    }
    .friends {
        display: none;
    }
    .friends_online{
        display: none;
    }
    .publics {
        display: none;
    }
    .videos {
        display: none;
    }
    .photos{
        display: none;
    }
    .audios{
        display: none;
    }
    .wide_column{
        width: 100%;
        margin: 0px auto;
    }
    .page_info {
        height: 170px;
    }
    .counts_module{
        display: none;
    }
    .profiles_photos {
        height: 94px;
        margin: 15px 0px 0px 0px;
        padding: 2px 0px;
    }
    .p_p {
        width: 400px;
        height: 100%;
        margin: 0px auto;
    }
    .profils_photo1 {
        width: 90px;
        height: 90px;
        margin: 0px 2.5px 0px 5px;
    }
        .profils_photo {
        width: 90px;
        height: 90px;
        margin: 0px 5px;
        border-radius: 14px;
    }
}